body {
  background-color: #00a000;
  font-family: 'Bubblegum sans';
  margin:2px;
  
}

#websites {
  color:cyan;
}

a {
  text-decoration: none;
}

ul a {
  color: darkblue;
}

ol a {
  color: darkblue;
}

a:visited {
  color:mediumblue;
}

a:hover {
  color: midnightblue;
}

hr {
  background-color: #000000;
  border: 1px solid #000000;
  width: 100px;
}

button {
  padding: 5px 10px;
  font-size: 15px;
  border: none;
  color:#000000;
  background-color: springgreen;
  border-radius: 10px;
  outline: none;
  font-family: 'Bubblegum Sans';
}

button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

button:hover {
  background-color:mediumspringgreen;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropdown {
  background-color:springgreen;
  padding: 0 20px;
  position: relative;
  margin: 5px;
  display: inline-block;
  border-radius: 10px;
}

.dropdown:hover {
  background-color:mediumspringgreen;
  box-shadow: 5px 5px #808080
}

.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: springgreen;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  background-color: darkturquoise;
  display:block;
}

#blup {
  height:3em;
  min-width:10em;
}

#gray {
  color:gray;
}

#long {
  width:95%;
}


div.dropdown-content#black {
  color: black;
}

#big {
  font-size:10rem;
}

h6 {
font-size: 5px;
}

#big-ish {
  font-size: 8rem;
}

#tiny {
  font-size:0.2em;
}